<?xml version="1.0" encoding="UTF-8"?>


<suite name="Suite">
	<test thread-count="5" name="RestAssuredTest">

		<classes>
			<class name="com.employeeapi.smoke.TC001_GET_Request" />
			<class name="com.employeeapi.smoke.TC002_Single_Employee_Record" />
			<class name="com.employeeapi.smoke.TC003_POST_Employee_Record" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->